:root{
	--primary-color: #004bbe;
}
body{
  overflow-x: hidden;
}

.footer-links a:hover{
  text-decoration: underline !important;
}
/********************* Hero Styling *****************************/
#hero{
  background-image: url('../images/home/hero-bg.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 600px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  position: relative;
}
#hero::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  opacity: 0.6;
}

.hero-content h1{
  font-size: 56px;
}

/********************* Services Styling *****************************/
#services{
  padding: 50px 0;
  background-color: #f1f7ff;
}
.section-top-content{
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.services-heading {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  vertical-align: middle;
  flex-direction: column;
  line-height: 0.7;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Alkatra', cursive;
}
.services-heading h4{
 font-weight: 700; 
}
.card-services.pt-25 {
  padding-top: 25px;
}
.card-services {
  display: block;
  position: relative;
  max-width: 100%;
  border-radius: 9px;
  margin: 15px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  box-shadow: -5px 5px var(--primary-color);
  border: 1px solid var(--primary-color);
  height: 200px;
  transition: 0.25s ease-in-out;
}
.card-services:hover{
  border: 1px solid var(--light-text);
}
.card-services:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  right: -70px;
  background: var(--primary-color);
  height: 15px;
  width: 100px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 30% 30%;
  transition: transform 0.25s ease-out;
}
.card-services a {
  color: var(--dark-text);
  text-decoration: none;
  padding: 22px 30px;
  display: block;
}
.card-services h3 {
  font-size: 1.4rem;
  font-weight: 600;
}
.card-services:hover h3, .card-services:hover .small{
  color: var(--light-text);
}
.small, small {
  font-size: 15px !important;
  line-height: 1.5;
}
.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50px;
  height: 45px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: var(--primary-color);
  border-radius: 0 4px 0 45px;
}
.card-services:hover {
  transform: translateY(-10px);
}
.card-services:hover:before {
  transform: scale(21);
}

/****************************** Projects Styling *****************************/
#projects{
  padding: 50px 0;
  overflow-x: hidden;
}
.filter-button {
  font-size: 18px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 30px;
}
.gallery_product {
  margin-bottom: 30px;
}
.gallery_product img {
  width: 100%;
  border-radius: 10px;
}

/*********************** Reviews Styling ****************************/
#reviews{
	padding: 50px 0 120px 0;
	background-color: #f1f7ff;
  overflow-x: hidden;
}
.review-item{
  background-color: var(--light-text);
  margin: 20px;
}
img.client-image {
  border-radius: 50%;
  width: 100px;
  margin: 0 auto;
}
.review-item ul{
  display: block;
}
.review-item li a i{ 
  color: #FF9800;
}
.review-item blockquote{
  position: relative;
  padding: 20px 0;
  min-height: 200px;
}
.clinet-location{
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-color);
}
.client-city{
  display: block;
  margin-top: 5px;
  color: var(--dark-text);
}
.slick-prev:before, .slick-next:before{
  color: var(--primary-color);
  font-size: 30px;
}
.slick-dots li button:before{
  font-size: 24px;
  color: var(--primary-color);
}
.slick-dots li.slick-active button:before{
  color: var(--primary-color);
}


/**************************** About Styling *******************************/
#about{
  padding: 50px 0;
}
#about .row > div:last-child{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro-content h3{
  color: var(--primary-color);
}

/**************************** Contact Styling *******************************/
#contact{
  background-image: url('../images/home/hero-bg.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 400px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  position: relative;
}
#contact::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  opacity: 0.6;
}
#contact .container{
  position: relative;
  z-index: 999;
}
.cta-content{
  color: #ffffff;
}
.contact h2{
  font-size: 50px;
  font-weight: 800;
  font-style: normal;
  line-height: 60px;
  color: #ffffff;
}
.contact span{
  display: block;
  color: #FFC300;
}
.contact p{
  margin-bottom: 20px;
}
.contact a{
  background-color: #ffffff;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
}