:root{
	--primary-color: #004bbe;
	--dark-text: #000000;
	--light-text: #ffffff;
}
body{
	position: relative;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

/**************** Back to Top Styling ****************/
.back-btn-wrap {
  display: inline-block;
  background-color: #FF9800;
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  cursor: pointer;
}
.back-btn-wrap img{
  position: relative;
  top: -5px;
  left: -2px;
}
.back-btn-wrap{
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 50%;
}
.back-btn-wrap:before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: var(--primary-color);
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  border-radius: 50%;
  opacity: 0.08;
  animation: scale 1.2s ease-out infinite 1s;
}
@keyframes scale {
  0% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0.5;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.6);
    opacity: 0;
  }
}
.back-btn-wrap.show {
  opacity: 1;
  visibility: visible;
}
/**************** Button Styling ****************/
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  text-align: center;
}
.btn-3 {
  background: var(--primary-color);
  background: linear-gradient(0deg, var(--primary-color) 0%, rgba(2,126,251,1) 100%);
  width: 160px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  border: none;
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 600;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: var(--primary-color);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
  background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover{
  color: var(--primary-color);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: var(--primary-color);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}
/**************** Heading Styling ****************/
.section-title{
  font-size: 36px;
  color: var(--primary-color);
  text-align: center;
  font-weight: 500;
  margin-bottom: 30px;
}
.section-title:after {
  content: "";
  position: absolute;
  width: 7.5%;
  left: 46.5%;
  height: 45px;
  border-bottom: 2px solid var(--primary-color);
}
/**************** Header Styling ****************/
.navbar {
  padding: 7px 0;
}
ul.navbar-nav {
  width: 100%;
  justify-content: end;
}
.nav-link{
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
.sub-menu{
  position: absolute;
  top: 50px;
  left: 5px;
  padding: 20px;
  list-style: none;
  background-color: #f1f7ff;
  width: 200px;
  text-align: center;
  z-index: 9;
  display: none;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown>.dropdown-toggle:active {
  pointer-events: none;
}

a.nav-link:hover{
	color: var(--primary-color);
}
.navbar-toggler img{
  background-color: #f1f7ff;
  padding: 10px;
  border-radius: 50%;
}
@media(max-width: 574px){
  .header-logo{
    max-width: 90%;
  }
  .navbar-toggler{
    padding: 5px;
  }
  .navbar-brand{
    margin-right: 0;
    width: 80%;
  }
  .navbar {
    padding: 15px 7px;
  }
  .top-shapes span:last-child{
    display: none;
  }
  ul.navbar-nav{
    text-align: center;
    background-color: #f1f7ff;
  }
}
/*********************** Footer Styling ****************************/
#footer{
  background-color: #f1f7ff;
  padding: 50px 0 0 0;
}
.footer-para-content{
  font-size: 14px;
  color: var(--dark-text);
}
.footer-links h4{
  font-size: 18px;
  font-weight: 600;
}
.footer-links a{
  color: var(--dark-text);
  padding: 10px 0;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.footer-links a:hover{
  text-decoration: underline;
}
.social-links{
  justify-content: end;
}
.social-links i{
  color: var(--dark-text);
  font-size: 24px;
}
.form-box{
  text-align: center;
  background-color: var(--primary-color);
  padding: 50px 20px 40px 20px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media screen and (max-width: 574px){
  .footer-links {
    margin-top: 20px;
  }
  #footer .footer-box{
    justify-content: start;
  }
}

/********************* Hero Styling *****************************/
#hero{
  background-image: url('../images/home/hero-bg.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 800px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  position: relative;
}
#hero::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  opacity: 0.6;
}
#hero .container{
  position: relative;
  z-index: 999;
}
.hero-content {
  width: 80%;
  margin: 0 auto;
  color: #ffffff;
}
.hero-content h1{
  font-size: 50px;
  font-weight: 800;
  font-style: normal;
  line-height: 60px;
}
.hero-inner-heading{
  color: #FFC300;
  display: block;
}
.hero-content a{
  margin: 0 auto;
}

@media (max-width: 991px){
  .hero-content{
    width: 100%;
  }
  .hero-content h2 {
    font-size: 50px;
  }
}

@media (max-width: 768px){
  .hero-content h2 {
    font-size: 36px;
    line-height: 50px;
  }
}

/********************* Services Styling *****************************/
#services{
  padding: 50px 0;
  background-color: #f1f7ff;
}
.section-top-content{
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.section-sub-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  display: inline-block;
  border-bottom: 1px solid var(--primary-color);
}
.section-main-title {
  color: var(--primary-color);
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 10px;
}
.services-heading {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  vertical-align: middle;
  flex-direction: column;
  line-height: 0.7;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Alkatra', cursive;
}
.services-heading h4{
 font-weight: 700; 
}
.card-services.pt-25 {
  padding-top: 25px;
}
.card-services {
  display: block;
  position: relative;
  max-width: 100%;
  border-radius: 9px;
  margin: 15px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  box-shadow: -5px 5px var(--primary-color);
  border: 1px solid var(--primary-color);
  height: 200px;
  transition: 0.25s ease-in-out;
}
.card-services:hover{
  border: 1px solid var(--light-text);
}
.card-services:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  right: -70px;
  background: var(--primary-color);
  height: 15px;
  width: 100px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 30% 30%;
  transition: transform 0.25s ease-out;
}
.card-services a {
  color: var(--dark-text);
  text-decoration: none;
  padding: 22px 30px;
  display: block;
}
.card-services h3 {
  font-size: 1.4rem;
  font-weight: 600;
}
.card-services:hover h3, .card-services:hover .small{
  color: var(--light-text);
}
.small, small {
  font-size: 15px !important;
  line-height: 1.5;
}
.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50px;
  height: 45px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: var(--primary-color);
  border-radius: 0 4px 0 45px;
}
.card-services:hover {
  transform: translateY(-10px);
}
.card-services:hover:before {
  transform: scale(21);
}

/****************************** Projects Styling *****************************/
#projects{
  padding: 50px 0;
  overflow-x: hidden;
}
.filter-button {
  font-size: 18px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 30px;
}
.gallery_product {
  margin-bottom: 30px;
}
.gallery_product img {
  width: 100%;
  border-radius: 10px;
}

/*********************** Reviews Styling ****************************/
#reviews{
	padding: 50px 0 120px 0;
	background-color: #f1f7ff;
  overflow-x: hidden;
}
.review-item{
  background-color: var(--light-text);
  margin: 20px;
}
img.client-image {
  border-radius: 50%;
  width: 100px;
  margin: 0 auto;
}
.review-item ul{
  display: block;
}
.review-item li a i{ 
  color: #FF9800;
}
.review-item blockquote{
  position: relative;
  padding: 20px 0;
  min-height: 200px;
}
.clinet-location{
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-color);
}
.client-city{
  display: block;
  margin-top: 5px;
  color: var(--dark-text);
}
.slick-prev:before, .slick-next:before{
  color: var(--primary-color);
  font-size: 30px;
}
.slick-dots li button:before{
  font-size: 24px;
  color: var(--primary-color);
}
.slick-dots li.slick-active button:before{
  color: var(--primary-color);
}


/**************************** About Styling *******************************/
#about{
  padding: 50px 0;
}
#about .row > div:last-child{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro-content h3{
  color: var(--primary-color);
}

/**************************** Contact Styling *******************************/
#contact{
  background-image: url('../images/home/hero-bg.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 400px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  position: relative;
}
#contact::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  opacity: 0.6;
}
#contact .container{
  position: relative;
  z-index: 999;
}
.cta-content{
  color: #ffffff;
}
.contact h2{
  font-size: 50px;
  font-weight: 800;
  font-style: normal;
  line-height: 60px;
  color: #ffffff;
}
.contact span{
  display: block;
  color: #FFC300;
}
.contact p{
  margin-bottom: 20px;
}
.contact a{
  background-color: #ffffff;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
}