:root{
	--primary-color: #0d6efd;
}
body{
  overflow-x: hidden;
}
#footer a:hover{
  text-decoration: underline !important;
}
.social-links a i{
  transform: translateY(0);
  transition: 0.2s ease-in-out;
}
.social-links a:hover i{
  transform: translateY(-2px);
}
/********************* Hero Styling *****************************/
#hero{
  background-image: url('./images/hero-bg.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 600px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  position: relative;
}
#hero::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  opacity: 0.6;
}
.hero-content h1{
  font-size: 56px;
}

/********************* Services Styling *****************************/
.card-services {
  margin: 15px;
  z-index: 0;
  overflow: hidden;
  box-shadow: -5px 5px var(--primary-color);
  border: 1px solid var(--primary-color);
  height: 230px;
  transition: 0.25s ease-in-out;
}
.card-services:hover{
  border: 1px solid #ffffff;
}
.card-services:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  right: -70px;
  background: var(--primary-color);
  height: 15px;
  width: 100px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 30% 30%;
  transition: transform 0.25s ease-out;
}
.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50px;
  height: 45px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: var(--primary-color);
  border-radius: 0 4px 0 45px;
}
.card-services:hover {
  transform: translateY(-10px);
}
.card-services:hover:before {
  transform: scale(21);
}
.card-services:hover h3, .card-services:hover p{
  color: #ffffff !important;
}
/*********************** Reviews Styling ****************************/
.slick-prev:before, .slick-next:before{
  color: var(--primary-color);
  font-size: 30px;
}
.slick-dots li button:before{
  font-size: 24px;
  color: var(--primary-color);
}
.slick-dots li.slick-active button:before{
  color: var(--primary-color);
}
/**************************** About Styling *******************************/
#about .row > div:last-child{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/**************************** Contact Styling *******************************/
#contact{
  background-image: url('./images/hero-bg.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 400px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  position: relative;
}
#contact::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  opacity: 0.6;
}
.contact h2{
  font-size: 56px;
}

/**************************** Scroll Styling *******************************/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color); 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}